<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'MOBILE.CANCEL_ORDER.TITLE' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let order of _orders | async">
        <ion-card-content>
            <ion-item style="padding-left: 0;">
                <ion-avatar item-left>
                    <img src="assets/img/exit.png">
                </ion-avatar>
                <h2>{{ 'MOBILE.CANCEL_ORDER.CUSTOMER' | translate }}: {{ getUserName(order.creation_user) }}</h2>
                <h2>{{ 'MOBILE.CANCEL_ORDER.ORDER' | translate }} # {{order.code}} • {{ 'MOBILE.CANCEL_ORDER.TABLE' | translate
                    }} {{_tableNumber}}</h2>
                <h2>{{order.status | translate}}</h2>
            </ion-item>

            <item-detail-send-order-component *ngFor="let it of order.items" [item]="it"></item-detail-send-order-component>

            <ion-item-group *ngFor="let ad of order.additions">
                <ion-item-divider style="padding-left: 0; background: white; font-weight: bold;">
                    {{ad.quantity}} {{ 'MOBILE.CANCEL_ORDER.ADDITION' | translate }} • {{ getNameAddition (ad.additionId) }}
                </ion-item-divider>
            </ion-item-group>

            <button ion-button small text-left outline style="margin-top: 15px" (click)="cancelOrderToExitTable(order)">{{'MOBILE.CANCEL_ORDER.BTN_CANCEL_ORDER' | translate}}</button>
        </ion-card-content>
    </ion-card>
</ion-content>