<ion-header>
  <ion-navbar>
    <ion-title>{{getItemName(_item_code)}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of _items | async">
    <div class="crop">
      <img *ngIf="item.image" src="{{item.image.url}}" style="display:inline-block" (click)="openItemImage(item.image.url)">
      <img *ngIf="!item.image" src="assets/img/default-plate.png" style="display:inline-block">
    </div>
    <ion-card class="ion-card-custom" style="margin: 0px !important">
      <ion-card-content>
        <ion-badge style="background-color: darkorange; margin: 12px 0;float: right;" *ngIf="item.has_reward">{{item.reward_points}} pts
          <ion-icon name="star"></ion-icon>
        </ion-badge>
        <ion-card-title>{{item.name}}</ion-card-title>
        <p *ngIf='item.description != ""' class="item-paragraph-custom" style="margin-bottom: 10px">{{item.description}}</p>
        <div *ngFor="let order of _orders | async">
          <div *ngFor="let itemId of order?.items">
            <div *ngIf="itemId.itemId == item._id && itemId.index == _item_order_index">
              <span>{{isReward(itemId)}}</span>
              <ion-list>
                <h2 *ngIf="!itemId.is_reward" style="font-weight: bold;">{{'MOBILE.SECTIONS.UNIT_PRICE' | translate}} {{_unitPrice}} {{_currencyCode}}</h2>
                <ion-item *ngIf="!itemId.is_reward && item.time" style="padding-left: 0px">
                  <ion-label>
                    {{'MOBILE.SECTIONS.TIME' | translate}}
                    <span style="color: #666"> {{ item.time }} </span>
                  </ion-label>
                </ion-item>
                <p *ngIf="_showOptionsError" style="color: #EF5350;">{{'MOBILE.SECTIONS.OPTIONS_ERROR' | translate}}</p>
                <ion-item *ngIf="getItemAvailability()" style="padding-left: 0px">
                  {{'MOBILE.SECTIONS.QUANTITY' | translate}}
                  <span style="color: #666; font-size: initial"> {{_quantityCount}}</span>
                  <button *ngIf="showActionsFooter() && !itemId.is_reward" ion-button item-right icon-left outline (click)="removeCount()"
                    [disabled]="_disabledMinusBtn">
                    <ion-icon style="padding-right: 0px" name="remove"></ion-icon>
                  </button>
                  <button *ngIf="showActionsFooter() && !itemId.is_reward" ion-button item-right icon-left outline style="margin-right: 0px;"
                    (click)="addCount()">
                    <ion-icon style="padding-right: 0px" name="add"></ion-icon>
                  </button>
                </ion-item>
              </ion-list>
              <p *ngIf="!getItemAvailability()" class="item-paragraph-custom" style="margin-top: 15px;  color: #000">
                {{'MOBILE.SECTIONS.ITEM_UNAVAILABLE' | translate}}
              </p>
              <button [disabled]="!showActionsFooter()" ion-button outline block icon-left class="btn-size-custom" *ngIf="item.observations && getItemAvailability() && (itemId.observations == '') && !itemId.is_reward"
                (click)="presentModal()" style="text-transform: inherit; margin-bottom: 15px">
                {{_observations != null ? _observations.substring(0, 20)+ '...': 'MOBILE.SECTIONS.OBSERVATIONS' | translate}}
              </button>

              <button [disabled]="!showActionsFooter()" ion-button outline block icon-left class="btn-size-custom" *ngIf="item.observations && getItemAvailability() && (itemId.observations != '') && !itemId.is_reward"
                (click)="presentModal(itemId.observations)" style="text-transform: inherit; margin-bottom: 15px">
                {{_observations != null ? _observations.substring(0, 20)+ '...': (_auxCounter == 0 ? ( itemId.observations ? itemId.observations.substring(0,
                20) + '...' : 'MOBILE.SECTIONS.OBSERVATIONS' | translate ) : 'MOBILE.SECTIONS.OBSERVATIONS' | translate)}}
              </button>

              <form [formGroup]="_newOrderForm" *ngIf="!itemId.is_reward">
                <div *ngIf="(item.options.length > 0)">
                  <div formGroupName="options">
                    <div *ngFor="let option of _options | async">
                      <span *ngFor="let opt of item.options">
                        <div *ngIf="option._id === opt.option_id">
                          <p style="font-weight:bold;">{{option.name}}</p>
                          <ion-list radio-group [disabled]="!_customerCanEdit" (ionChange)="calculateFinalPriceOptionValue(option._id, $event)">
                            <span *ngFor="let value of _optionValues | async">
                              <span *ngFor="let val of opt.values">
                                <span *ngIf="value._id === val.option_value_id">
                                  <span *ngFor="let reference of _radioReferences">
                                    <span *ngFor="let valRef of reference.values">
                                      <ion-item *ngIf="valRef.value_id === value._id" style="padding-left: 0px">
                                        <ion-label>
                                          <span>{{value.name}}</span>
                                          <span *ngIf="val.have_price" style="color: #666">- {{val.price}} {{_currencyCode}}</span>
                                        </ion-label>
                                        <ion-radio item-left style="margin: 0px 15px 0px 4px;" [value]="value._id" [checked]="valRef.in_use"></ion-radio>
                                      </ion-item>
                                    </span>
                                  </span>
                                </span>
                              </span>
                            </span>
                          </ion-list>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
                <p *ngIf="_showOptionsError" style="color: #EF5350;">{{'MOBILE.SECTIONS.OPTIONS_ERROR' | translate}}</p>
                <br *ngIf="_showOptionsError"/>
                <div *ngIf="item.additions.length > 0 && getItemAvailability()">
                  <h3 class="custom-padding">{{'MOBILE.SECTIONS.ADDITIONS' | translate}}</h3>
                  <div formGroupName="additions">
                    <div *ngFor="let itemAddition of item.additions">
                      <div *ngFor="let addition of _additions | async">
                        <ion-item class="ion-item-cust" style="padding-left: 0px" *ngIf="itemAddition ==  addition._id">
                          <ion-label style="white-space: normal">{{addition.name}}
                            <span style="color: #666">- {{ getAdditionsPrice( addition ) }} {{_currencyCode}}</span>
                          </ion-label>
                          <ion-checkbox style="margin: 0px 15px 0px 4px;" [formControlName]="addition.name" (ionChange)="calculateFinalPriceAddition($event, getAdditionsPrice( addition ))"
                            color="primary" [class.invalid]="!_newOrderForm.controls.additions.valid"></ion-checkbox>
                        </ion-item>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>        
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card style="margin: 0px !important;box-shadow: none;">
    <ion-card-content></ion-card-content>
  </ion-card>
</ion-content>
<ion-footer *ngIf="showActionsFooter()" style="background-color: #F5F5F5" class="ion-footer-custom" padding align="end">
  <div style="text-align: left;">
    <h2 style="display: inline;" *ngIf="_showEditBtn">{{'MOBILE.SECTIONS.TOTAL' | translate}} {{_finalPrice}} {{_currencyCode}}</h2>
    <ion-badge *ngIf="_finalPoints > 0 && _showEditBtn" class="pts">{{_finalPoints}} pts
      <ion-icon name="star"></ion-icon>
    </ion-badge>
  </div>
  <div *ngIf="_showEditBtn" class="action">
    <button ion-button outline class="action" (click)="deleteOrderItem()">{{'MOBILE.ITEM_EDIT.REMOVE' | translate}}</button>
    <button ion-button outline class="action" (click)="editOrderItem()" [disabled]="_disabledAddBtn">{{'MOBILE.ITEM_EDIT.MODIFY' | translate}}</button>
  </div>
  <button *ngIf="!_showEditBtn" ion-button outline (click)="removeReward()">{{'MOBILE.ITEM_EDIT.REMOVE' | translate}}</button>
</ion-footer>

<ion-footer *ngIf="!showActionsFooter()" padding>
  <h2>{{'MOBILE.SECTIONS.TOTAL' | translate}}{{_finalPrice}} {{_currencyCode}} </h2>
</ion-footer>