
.customer-order {
    background-color: white;
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mt-div {
    width: 100%;
}
.mt-div span{
    margin-right: 16px;
}

mat-list.box-shadow {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

mat-list-item.box-shadow {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

mat-list-item.wm {
    margin: 0;
}

img.order {
    display: none;
}

img.br {
    border-radius: 0 !important;
}

.bs {
    display: none;
}

.fbs {
    display: none;
}

@media only screen and (min-width: 600px) {
    img.order {
        display: block;
    }

    img.custom {
        width: 80px !important;
        height: 80px !important;
    }

    .bs {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .customer-order {
        height: 100%;
    }

    .mt-div {
        padding: 16px;
        display: grid;
    }

    .fbs {
        display: block;
        background: #EF5350;
    }
}

.card_initial {
    margin: 0;
}

.order-item {
    display: inline-block;
    color: darkgoldenrod;
}

.addition-message{
    display: inline-block;
    font-size: smaller;
}
