item-card-waiter {
    .custom-item-divider {
        color: #000;
        background: #fff;
    }

    .item-md.item-block .item-inner {
        border-bottom: 0px;
    }

    .item-ios.item-block .item-inner {
        border-bottom: 0px;
    }

    .item-md {
        padding-left: 0px;
    }

    .item-ios {
        padding-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .custom-select{
        max-width: 80%;
    }
    
    .unavailable-item{
        color:#D50000; 
        font-weight: bold; 
        float: left
    }

    .custom-fab-ios {
        fab-ios fab-ios-light {
            bottom: 0px;
        }
    }

    .custom-paragraph{
     white-space: normal;
     height: 34px;
    }

}

