<mat-card *ngIf="!_showEstablishments" mat-cell="12" class="demo-card demo-basic" style="width: 90%; margin: 0 auto">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" src="/images/payments-history.png" />
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        Aun no has acumulado puntos en ningun restaurante. Animate!
                    </div>
                    <div class="card_initial-additional-links">
                    </div>
                    <div class="card_initial-button">
                        <button mat-raised-button>Ir a Ordenes</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>