.option-name {
    width: 50%;
}

.checkbox {
    padding-right: 15px;
}

.option {
    width: 44%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
}

.establishment {
    font-size: 1rem;
    
    .icon {
        vertical-align: middle;
    }
}

.lh {
    line-height: 36px
}