@import "../../../../public/scss/_variables.scss";
@import "../../../../public/scss/_colors.scss";
@import "../../../../public/scss/_flex.scss";
@import "../../../../public/scss/_navigation.scss";
@import "../../../../public/scss/_typography.scss";
@import "../../../../public/scss/_cards.scss";
@import "../../../../public/scss/_tables.scss";
@import "public/css/animate";

/***************
  HTML Styles
***************/
html, body {
    height: 100%;
    margin: 0;
}
main > .container {
  margin: 20px auto;
}

p.box {
  padding: 20px;
}
p {
  color: rgba(0, 0, 0, 0.71);
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
}

h5 > span {
  font-size: 14px;
  margin-left: 15px;
  color: #777;
}

/************
Styles body web and mobile
***********/
body.mobile {
  overflow: hidden;
}

body.web {
  font-family: Roboto, "Helvetica Neue", sans-serif;  
  overflow: visible;
  position: initial;
}

th {
    height: 30px;
}

/*****************************
  Overwrite Components Style
******************************/
/*
  Card
*/
mat-card-title {
    color: $button-color-secundary;
}

/*
  CheckBox
*/

.mat-checkbox-checked .mat-checkbox-background {
    background-color: $primary-color;
}

/*
  Toolbar Component
*/

mat-toolbar {
  background-color: $primary-color;
  color: $white_color-text;
}

/*
  Toggle Component
*/
mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $primary-color;
}

mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $primary-color-hover;
}

mat-slide-toggle.mat-checked .mat-slide-toggle-focused {
    background-color: $primary-color-hover;
}

/*
  Toggle Component Primary
*/
mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
    background-color: $primary-color;
}

mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
    background-color: $primary-color-hover;
}

/*
  Wizard
*/

mat-ink-bar {
    background-color: $primary-color;
}

.mat-tab-label:focus {
    background-color: $primary-color-hover;
    $color-black: "0,0,0";
    $select-background-color: transparent;
    $select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
    $select-color: unquote("rgba(#{$color-black}, 0.26)") !default;
    $select-padding: 4px;

    div.selector-container {
        width:50px;
        margin:0px;
        float:left;
    }
    div.notifications {
        position: fixed;
        bottom:0;
        padding:40px;
    }
    div.error {
        color: $primary-color;
    }
    div.divider {
        clear:both;
        margin:10px;
    }

    select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: $select-padding 0;
    color: $select-color;
    border: none;
    border-bottom: 1px solid $select-border-color;
    }

    select:focus {
    outline: none}

    .mdl-selectfield label {display: none;}
    .mdl-selectfield select {appearance: none}
    .mdl-selectfield {
        font-family: 'Roboto','Helvetica','Arial',sans-serif;
        position: relative;
        &:after {
            position: absolute;
            top: 0.75em;
            right: 0.5em;
            width: 0;
            height: 0;
            padding: 0;
            content: '';
            border-left: .25em solid transparent;
            border-right: .25em solid transparent;
            border-top: .375em solid $select-border-color;
            pointer-events: none;
        }
    }
}

.error-message{
  color: $primary-color;
  font-size: 0.9em;
}

.primary-button {
    background-color: $white_color-text !important;
    border: 1px solid $primary-color !important;
    box-shadow: none !important;
    color: $primary-color !important;
    font-weight: 600 !important;
}
.primary-button:hover {
    color: $white_color-text !important;
    background-color: $primary-color !important;
}

.secondary-button {
    background-color: $button-secondary !important;
    box-shadow: none !important;
    color: $button-color-secundary !important;
}

.secondary-button:hover {
    background-color: $button-secondary-hover !important;
}

.inactive-button{
    background-color: $white_color-text !important;
    border: 1px solid $primary-color !important;
    box-shadow: none !important;
    color: $primary-color !important;
    font-weight: 600 !important;
}

.inactive-button:hover {
    color: $white_color-text !important;
    background-color: $primary-color !important;
}

.active-button{
    background-color: $white_color-text !important;
    border: 1px solid #8BC34A !important;
    box-shadow: none !important;
    color: #8BC34A !important;
    font-weight: 600 !important;
}

.active-button:hover {
    color: $white_color-text !important;
    background-color: #8BC34A !important;
}

/*
  Input File
*/

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}


.inputfile-1 + label {
    border: 1px solid $primary-color !important;
    color: $primary-color;
    background-color: $white_color-text;
    vertical-align: middle;
    font-size: smaller;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: $primary-color;
    color: $white_color-text;
}

/*
    Add and revome buttons
*/
.quantity-button {
    background-color: White !important;
    border: 1px solid #EF5350 !important;
    color: #EF5350 !important;
    min-height: 30px !important;
    min-width: 65px !important;
    font-size: 20px !important;
    line-height: 0px;
}

/*
    Label
*/

.label-field-void {
    color: #cacaca;
    font-size: 12px;
}

/*
    //Card initial
*/


.card_initial {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    margin: 96px auto;
    min-height: 144px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.card_initial.has-image {
    padding-left: 184px;
    width: 576px;
}

.card_initial .card_initial-image-container {
    width: 144px;
    height: 144px;
    position: absolute;
    left: 0;
    top: 0;
}

.card_initial .card_initial-image {
    width: 192px;
    height: 192px;
    position: absolute;
    left: -24px;
    top: -24px;
}

.card_initial .card_initial-copy {
    -webkit-align-self: stretch;
    align-self: stretch;
}

@media only screen and (max-width: 600px){
    .card_initial {
        width: 100%;
        margin-bottom: 12px;
    }


    .card_initial.has-image {
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }

    .card_initial .card_initial-image-container {
        position: relative;
        width: 100%;
        height: 128px;
        margin-bottom: 12px;
    }

    .card_initial .card_initial-image {
        position: relative;
        width: 120px;
        height: 120px;
        display: block;
        margin: 0 auto;
        left: 0;
        top: 0;
    }

    .card_initial .card_initial-copy {
        text-align: center;
        margin-bottom: 12px;
    }
}

.card_initial .card_initial-tagline {
    color: rgba(0,0,0,0.87);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.card_initial .card_initial-button {
    margin-top: 20px;
}

/*
    Loading
*/

.global-div {
    position: absolute;
    //width: calc( 100% - 48px);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
    width: 100%;
}

.div-whitout-overflow {
    position: relative;
    overflow: hidden;
}

.cards-div {
    position: relative; 
    overflow: scroll;
    height: calc( 100vh - 90px);
    width: 100%;
}

/* Absolute Center Spinner */
.loading {
  position: absolute;
  top: -100px;
  left: -100px;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 2rem;
  width: 2rem;
  z-index: 999;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.mat-tooltip {
    font-size: $tooltip-fontsize-sm !important;
}

/* Custom cards */

.custom-cards {
    display: inline-block !important; 
    margin-right: 20px;
    width: 260px !important;
    vertical-align: top !important;

    .header-card {
        text-align: -webkit-center;

        img {
            width: 160px; 
            height: 160px; 
            border-radius: 50%; 
            margin-bottom: 16px;
        }

        .btn-position-edition{
            position: absolute;
            top: 120px;
            right: 60px;
        }
    }
}

.list {
    list-style-type:none;
    margin-top: 10px;
    padding-left: 0;
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.mat-dialog-container {
    max-height: 100vh !important;
}

@media only screen and (max-width: 600px) {
    .mat-checkbox-layout {
        white-space: normal !important;
        text-align: left !important;
    }

    .mat-dialog-container {
        max-height: 100vh !important;
        max-width:   90vw !important;
    }

    mat-card-actions.mobile {
        -webkit-align-items: center;
        align-items: center;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-box-flex: 0 0 auto;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }

    .card_initial .card_initial-button {
        width: 100%;
    }

    .card_initial .card_initial-button button {
        margin: 0 auto;
        display: block;
    }
}

/*
    Item Detail
*/


.dpa {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;   
}

.dcf {
    height: 100%;
    width: 100%;
    top: 0;
    -webkit-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.dc {
    overflow: scroll;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: calc( 100vh - 67px);
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.dmpc {
    padding: 17px 20px 0;
    margin: 23px auto;
    width: calc(100% - 40px);
}

.item-detail {
    position: relative;
    width: 0;
    background-color: #fff;
    box-sizing: border-box;
    border-left: 1px solid #e1e1e1;
    flex: 0 0 auto;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    will-change: width;
    overflow: hidden;
    z-index: 4;

    transition: width 300ms cubic-bezier(0.4,0.0,0.2,1);
    transition-duration: .15s;
    transition-property: width;
    transition-timing-function: cubic-bezier(0.4,0.0,1,1);
    -webkit-transition-duration: .15s;
    -webkit-transition-property: width;
    -webkit-transition: width 300ms cubic-bezier(0.4,0.0,0.2,1);
    -webkit-transition-timing-function: cubic-bezier(0.4,0.0,1,1);
}

.item-detail-show {
    display: block;
    animation-name: fadeInRight;
    width: 396px;
}

.item-detail-hidden {
    display: none;
    animation-name: fadeOutRight;
    width: 0;
}

@media only screen and (max-width: 480px){

    .item-detail{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .item-detail-show {
        width: -webkit-fill-available;
        animation-name: fadeInUp;        
    }
    
    .item-detail-hidden {
        animation-name: fadeOutDown;        
    }
}

.header-detail-static {
    position: absolute;
    background-color: transparent;
    padding: 24px;
    color: #3d4247;
    width: -webkit-fill-available;
    z-index: 999;
}

.header-detail {
    position: absolute;
    background-color: white;
    padding: 24px;
    width: -webkit-fill-available;
    z-index: 999;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    color: #3d4247;
    
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)

    label {
        font-family: Roboto,"Helvetica Neue",sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: #3d4247;
    }

    i {
        font-size: 20px; 
        color: #3d4247
    }
}

.header-detail-hide {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
}

.header-detail-show {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
    -ms-transform: translateY(0%);
}

div.fixed-action-btn {		
    position: relative;

    button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 56px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}

button.btn-close {
    position: absolute;
    top: 16px;
    right: 0;
    box-shadow: none !important;
    background-color: transparent;
    min-width: 0px;
}
            
.item-detail-card {
    position: relative;
    max-height: calc(100vh - 88px);
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 24px 24px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.crop {
    margin: 0 -24px 16px;
    img {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    mat-list-item {
        margin: 0 -16px;
    }
}
