@import "public/css/animate";    
            
.description {
    color: black;
}
            
.price {
    font-weight: bold;
    color: black;
}

.quantity-count{
    display: inline-block;
    width: 100px;
}

.inline-block {
    display: inline-block;
}

.pr{
    position: relative;
}

.button-action {		
    font-weight: bold;
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 8px;
    right: 15px;
}

.available-button {
    color: #D50000;
}

.price-button {
    color: #3d4247;
}

.color-button-icon {
    color: white;
}

mat-tab-group {
    width: 348px;
}

@media only screen and (min-width: 600px) {
    mat-card.item-consumer {
        display: inline-block; 
        margin: 0 20px 20px 0 !important;
        width: 230px;
        vertical-align: top;
    }
}