.ios {
    .description {
        bottom: 40px;
    }
}

page-waiter-call {
    $color: #fff;

    .img{
        margin: 0 auto;
    }

    .item-md.item-block .item-inner {
        border-bottom: 0px;
    }

    @media screen and (max-width: 320px) and (orientation:portrait) {
        .img{
            width: 65%;
        }

        .content {
            margin-top: auto;
            
            h1 {
                margin-top: 1.6 rem;
                font-size: 1.9rem;
            }

            p {
                font-size: 1.7rem;
            }
        }
    }

    @media screen and (min-width: 321px) and (max-width: 480px) and (orientation:portrait) {
        .img{
            width: 90%;
        }

        .content {
            margin-top: auto;
            h1 {
                font-size: 1.9rem;
            }

            p {
                font-size: 1.7rem;
            }
        }
    }

    @media screen and (min-width: 481px) and (max-width: 720px) and (orientation:portrait) {
        .img{
            width: 90%;
        }

        .content {
            margin-top: inherit;
            h1 {
                font-size: 3.9rem;
            }

            p {
                font-size: 3.7rem;
            }
        }
    }

    @media screen and (min-width: 721px) and (max-width: 960px) and (orientation:portrait) {
        .img{
            width: 90%;
        }

        .content {
            h1 {
                font-size: 4.4rem;
            }

            p {
                font-size: 4.2rem;
            }
        }
    }

    @media screen and (min-width: 961px) and (orientation:portrait) {
        .img{
            width: 100%;
        }

        .content {
            margin-top: inherit;
            h1 {
                font-size: 6.9rem;
            }

            p {
                font-size: 6.7rem;
            }
        }
    }

    .main{
        text-align: center;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute !important;
        width:100%;
        
    }

    .circle{

        .bounce {
            width: 20rem;
            height: 20rem;
            overflow: hidden;
            border-radius: 50%;
            background: #EF5350 !important;
            color: #fff;
            line-height:20rem;
            font-size: 3.4rem;
            margin: 0 auto;
            vertical-align:middle;
            animation-name: slide;
            animation-timing-function: ease;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        
            @keyframes slide {
                0%  {
                    transform: scale(0, 0) translateY(0);
                }
                100% {
                    transform: scale(1) translateY(0);
                    opacity: 0;
                }
            }
            
        }

        .circle_action {
            width: 20rem;
            background: #EF5350;
            opacity: 0;
            overflow: hidden;
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            vertical-align:middle;
            position: absolute;
            //animation: bounce_action 1s .5s;
            transform: scale(0.85);
            top: 0px;
        }
        
        .img{
            transition: opacity 0.2s, visibility 0.8s;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            width: 20rem;
            left: 0;
            right: 0;
            display: block;
            border-radius: 50%;
        }

        .i1{
            top: -400px;
            opacity: 0;
        }
        
        
    }
    
    .circle.hover{
        .circle_action{
            height: 20rem;
            opacity: 1;
            animation: bounce_action 2.8s ease 1 forwards;
        }
        
        .bounce{
            opacity: 0;
            animation-iteration-count: 1;
        }

        cursor: none;
        
        .i1{
            animation: image 2s ease .5s forwards;
        }
    }

    .description {
        position: absolute;
        text-align: center;
        bottom: 10px; 
        width: 100%;
    }
    
    @keyframes bounce_action {
        0% { transform: scale(0, 0) translateY(0) }
        25% { transform: scale(1) translateY(0); opacity: 0; }
        50% { transform: scale(0.0) translateY(0) }
        100% { transform: scale(1) translateY(0); opacity: 0; }
    }
    
    @keyframes image {
        0% { top: -400px; opacity: 0; }
        100% { top: 0px; opacity: 1; }
    }

    .circle_disabled {
        border-radius: 50%;
        background-color: #EF5350;
        width: 20rem;
        height: 20rem;
        margin: 0 auto;
    }

    #loading {
        position:absolute;
        left:calc(50% - 50px);
        top:calc(50% - 150px);
        z-index:9999
    }
    
    .uil-ripple {
        position:absolute;
        left:calc(50% - 90px);
        top:calc(50% - 180px);
        opacity:.5;
        z-index:999
    }

    .ld-c {opacity:0;animation: ld-in 3s 0.0s ease infinite;}
    .ld-o {opacity:0;animation: ld-in 3s 0.1s ease infinite;}
    .ld-m {opacity:0;animation: ld-in 3s 0.2s ease infinite;}
    .ld-e {opacity:0;animation: ld-in 3s 0.3s ease infinite;}
    .ld-y {opacity:0;animation: ld-in 3s 0.4s ease infinite;}
    .ld-g {opacity:0;animation: ld-in 3s 0.5s ease infinite;}
    .ld-a {opacity:0;animation: ld-in 3s 0.6s ease infinite;}
    .ld-n {opacity:0;animation: ld-in 3s 0.7s ease infinite;}
    .ld-a2 {opacity:0;animation: ld-in 3s 0.8s ease infinite;}

    @keyframes ld-in {
        0% {opacity:0;transform:scale(0);}
        30% {opacity:1;transform:scale(1);}
        100% {opacity:1;transform:scale(1);}
    }
    
}

