<mat-card *ngIf="!_thereAreEstablishments">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" src="/images/item.png" />
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'REWARD.THERE_NOT_ESTABLISHMENTS' | translate}}
                    </div>
                    <div class="card_initial-additional-links">
                        {{'REWARD.MESSAGE' | translate}}
                    </div>
                </div>
                <div class="card_initial-button">
                    <button mat-raised-button (click)="goToAddEstablishment()">{{'REWARD.ESTABLISHMENT_REGISTER' | translate}}</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="_thereAreEstablishments && !_thereAreItems">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" src="/images/items.png" />
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{ 'REWARD.MSG_INITIAL' | translate }}
                    </div>
                    <div class="card_initial-additional-links">

                    </div>
                </div>
                <div class="card_initial-button">
                    <button mat-raised-button (click)="goToItems()">{{'REWARD.CREATE_NEW_ITEM' | translate}}</button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="_thereAreEstablishments && _thereAreItems" class="reward-main">
    <mat-card-title>{{'REWARD.TITLE' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'REWARD.SUBTITLE' | translate}}:</mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="_rewardForm" (ngSubmit)="addReward();">
            <div class="quantity">
                <button mat-button disabled class="quantity-count">{{'REWARD.QUANTITY' | translate}}: {{ _quantityCount }}</button>
                <button mat-button class="quantity-button" (click)="removeCount()">
                    <mat-icon>remove</mat-icon>
                </button>
                <button mat-button class="quantity-button" (click)="addCount()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <mat-form-field class="item">
                <mat-select formControlName="item" placeholder="{{'REWARD.SELECT_ITEM' | translate}}">
                    <mat-option *ngFor="let item of _items | async" value="{{item._id}}">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="point">
                <mat-select formControlName="points" placeholder="{{'REWARD.SELECT_POINTS' | translate}}">
                    <mat-option *ngFor="let point of _points | async" value="{{point._id}}">{{point.point}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <p>{{'REWARD.ESTABLISHMENTS' | translate}}</p>
                <p>
                    <label *ngIf="!_showEstablishments" class="label-field-void">{{'REWARD.NO_ESTABLISHMENTS_CREATED' | translate}}</label>
                </p>
                <div *ngIf="_showEstablishments" formGroupName="establishments">
                    <div *ngFor="let establishment of _establishments | async">
                        <mat-checkbox [formControlName]="establishment._id" [class.invalid]="!_rewardForm.controls.establishments.valid">{{establishment.name}} - {{establishment.address}}</mat-checkbox>
                        <br/>
                    </div>
                </div>
            </div>
            <br/>
            <button mat-raised-button class="secondary-button" [disabled]="!_rewardForm.valid" type="button" (click)="cancel()">{{'CANCEL' | translate}}</button>
            <button mat-raised-button class="primary-button" [disabled]="!_rewardForm.valid" type="submit">{{'CREATE' | translate}}</button>
        </form>
    </mat-card-content>
</mat-card>

<div *ngFor="let reward of _rewards | async" class="reward">
    <div *ngFor="let item of _items | async">
        <ng-template [ngIf]="reward.item_id === item._id">
            <mat-card>
                <mat-card-title-group>
                    <mat-card-title>{{item.name}}</mat-card-title>
                    <mat-card-subtitle>{{'REWARD.QUANTITY' | translate}}: {{reward.item_quantity}}</mat-card-subtitle>
                    <mat-chip-list>
                        <mat-chip class="points">{{reward.points}} {{'REWARD.POINTS' | translate}}</mat-chip>
                    </mat-chip-list>
                </mat-card-title-group>
                <mat-card-content>
                    <p *ngIf="reward.establishments.length === 0">{{'REWARD.NO_ESTABLISHMENTS' | translate}}</p>
                    <div *ngFor="let est of _establishments | async">
                        <div *ngFor="let rewEst of reward.establishments">
                            <div *ngIf="est._id === rewEst">
                                <div>
                                    <p mat-line class="establishment">
                                        <mat-icon class="icon">store</mat-icon>
                                        <span> {{est.name}} </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="editReward(reward)">{{'REWARD.MODIFY' | translate}}</button>
                    <button mat-button (click)="removeReward(reward)">{{'REWARD.REMOVE' | translate}}</button>
                    <span class="app-flex-filler lh">
                        <mat-slide-toggle [(checked)]="reward.is_active" (change)="updateStatus(reward)"></mat-slide-toggle>
                    </span>
                </mat-card-actions>
            </mat-card>
        </ng-template>
    </div>
</div>