<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'MOBILE.WAITER_CALL.PAY_CONFIRM' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-item style="padding-left: 0;">
                <ion-avatar item-left>
                    <img src="assets/img/tables.png">
                </ion-avatar>
                <h2>{{ 'MOBILE.WAITER_CALL.TABLE' | translate }} {{_table._number}}</h2>
                <h2>{{ 'MOBILE.WAITER_CALL.ALPHANUMERIC_CODE' | translate }} {{_table.QR_code}}</h2>
            </ion-item>
            
            <div *ngFor="let pay of _payments | async;">
                <div class="item-divider-custom"></div>
                <ion-item-group style="margin: 0 -16px 0;">
                    <div class="item item-divider item-md item-divider-md" style="color: #000; background-color: white; border-bottom: 0;">
                        <h2 style="margin-top: 9px;">{{getUserDetail(pay.creation_user)}} • {{'MOBILE.PAYMENTS.TOTAL' | translate}}: {{pay.totalOrdersPrice + pay.totalTip}} {{getCurrency(pay.currencyId)}}</h2>
                        
                        <h3 *ngIf="pay.paymentMethodId == 10">{{'MOBILE.PAYMENTS.PAYMENT_METHOD' | translate}}: {{'PAYMENT_METHODS.CASH' | translate}}</h3>
                        <h3 *ngIf="pay.paymentMethodId == 20">{{'MOBILE.PAYMENTS.PAYMENT_METHOD' | translate}}: {{'PAYMENT_METHODS.CREDIT_CARD' | translate}}</h3>
                        <h3 *ngIf="pay.paymentMethodId == 30">{{'MOBILE.PAYMENTS.PAYMENT_METHOD' | translate}}: {{'PAYMENT_METHODS.DEBIT_CARD' | translate}}</h3>

                        <h3 *ngIf="pay.totalTip > 0">{{'MOBILE.PAYMENTS.TIP' | translate}}: {{pay.totalTip}} {{getCurrency(pay.currencyId)}}</h3>
                        <div style="margin-top: 9px;"></div>
                        <div showWhen="android" style="position: absolute; top: 0px; right: 10px;">
                            <ion-toggle checked="{{pay.received}}" (ionChange)="received(pay)"></ion-toggle>
                        </div>
                        <div showWhen="ios" style="position: absolute; top: 16px; right: 10px;">
                            <ion-toggle checked="{{pay.received}}" (ionChange)="received(pay)"></ion-toggle>
                        </div>
                    </div>
                </ion-item-group>

                <payment-detail-confirm *ngFor="let orderId of pay.orders" [orderId]="orderId" [currency]="_currencyCode"></payment-detail-confirm>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer padding style="background: white">
    <div style="display: inline-block">
        <p style="display: inline-block; width: 50%; width: 80%; -webkit-margin-after: 0; -webkit-margin-before: 0;">
            {{'MOBILE.PAYMENTS.SELECT_ALL_PAYMENTS' | translate}}
        </p>
        <ion-toggle style="display: inline-block; position: absolute; right: 15px;top: 15px;" (ionChange)="receivedAllPayments($event)"></ion-toggle>
    </div>
    <div style="display: block">
        <h3 style="display: inline-block; margin-top: 1.6rem;">{{'MOBILE.PAYMENTS.TOTAL_PAY' | translate}}</h3>
        <h3 style="display: inline-block; position: absolute; right: 15px;">{{_totalPayment}} {{_currencyCode}}</h3>
    </div>
    <div>
        <button ion-button block outline (click)="validatePaymentsReceived()">{{'MOBILE.WAITER_CALL.PAY_CLOSE' | translate}}</button>
    </div>
</ion-footer>