<button ion-item detail-none>
    <ion-thumbnail item-left>
        <img src="{{getItemThumb(itemIdIn._id)}}">
    </ion-thumbnail>
    <h2>{{itemIdIn.name}}</h2>
    <p>{{itemIdIn.description}}</p>
    <h2>{{ getItemPrice( itemIdIn ) }} {{_currencyCode}}</h2>
    <p *ngIf="!getItemAvailability()" class="unavailable-item"> {{'MOBILE.SECTIONS.UNAVAILABLE' | translate}} </p>
    <ion-badge style="background-color: darkorange;float: right;" *ngIf="itemIdIn.has_reward">{{'MOBILE.SECTIONS.GET_POINTS' | translate}} {{itemIdIn.reward_points}} pts
        <ion-icon name="star"></ion-icon>
    </ion-badge>
</button>