<ion-header>
  <ion-navbar>
    <ion-title>{{'MOBILE.SECTIONS.MENU' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-wrap>
  <ion-list *ngIf="_establishments" style="margin: 0 auto; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);">
    <button ion-item (click)="viewEstablishmentProfile(_establishments)" style="background-image: url(assets/img/background_waiter.png);"
      class="img-header">
      <ion-thumbnail item-left>
        <img *ngIf="_establishments.image" src="{{ _establishments.image.url }}">
        <img *ngIf="!_establishments.image" src="assets/img/default-restaurant.png">
      </ion-thumbnail>
      <h2>{{_establishments.name}}</h2>
      <p>{{_establishments.address}}</p>
      <p *ngIf="_table">{{'MOBILE.ORDERS.YOU_ARE_TABLE' | translate}} # {{_table._number}}</p>
    </button>
  </ion-list>

  <!--ion-card>
    <ion-card-content>
      <ion-list style="margin-bottom: 0px" no-lines>
        <ion-item>
          <ion-label>{{'MOBILE.SECTIONS.SELECTION' | translate}}</ion-label>
          <ion-select [(ngModel)]="selected" interface="action-sheet" (ionChange)="validateSection(selected)" cancelText="{{'MOBILE.SECTIONS.CANCEL'| translate}}"
            class="custom-select">
            <ion-option value="all" selected="true">{{'MOBILE.SECTIONS.ALL' | translate}}</ion-option>
            <ion-option value="recommended" selected="true">{{'MOBILE.SECTIONS.RECOMMENDED' | translate}}</ion-option>
            <ion-option *ngFor="let section of _sections | async" value="{{section._id}}">{{section.name}}</ion-option>
            <ion-option *ngIf="_additionsShow" value="addition">{{'MOBILE.SECTIONS.ADDITION' | translate}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card-->

  <ion-label margin-start *ngIf="(_itemsRecommended | async)?.length > 0">{{'MOBILE.SECTIONS.RECOMMENDED' | translate}}</ion-label>
  <div *ngFor="let item of _itemsRecommended | async">
    <ion-card (click)="goToDetail(item._id)">
      <ion-card-content>
        <item-card [itemIdIn]="item" [resCode]="_res_code"></item-card>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-label margin-start *ngIf="(_items | async)?.length > 0">{{'MOBILE.SECTIONS.MENU' | translate}}</ion-label>
  <div *ngFor="let section of _sections | async">
    <div *ngFor="let item of _items | async">
      <div *ngIf="(item.sectionId == section._id) && item.categoryId == '' && item.subcategoryId == ''" (click)="goToDetail(item._id)">
        <ion-card>
          <ion-card-content>
            <item-card [itemIdIn]="item" [resCode]="_res_code"></item-card>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

  <ion-item-group *ngFor="let category of _categories | async">
    <ion-label margin-start>{{category.name}}</ion-label>
    <div *ngFor="let item of _items | async">
      <ion-card *ngIf="(item.categoryId == category._id) && item.subcategoryId == ''" (click)="goToDetail(item._id)">
        <ion-card-content>
          <item-card [itemIdIn]="item" [resCode]="_res_code"></item-card>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngFor="let subcategory of _subcategories | async">
      <div *ngIf="subcategory.category == category._id">
        <ion-label margin-start>{{subcategory.name}}</ion-label>
        <div *ngFor="let item of _items | async">
          <ion-card *ngIf="item.subcategoryId == subcategory._id" (click)="goToDetail(item._id)">
            <ion-card-content>
              <item-card [itemIdIn]="item" [resCode]="_res_code"></item-card>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-fab right bottom>
    <button style="bottom: 0px" ion-fab color="light" mini (click)="goTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>