<ion-header>
    <ion-navbar>
        <ion-title class="logo">
            <img class="nav-logo" src="assets/img/logo_iurest_1000_x_260.png">
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let _res of _establishments | async" style="margin: 0 auto; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);"
        text-wrap>
        <ion-item style="background-image: url(assets/img/background_waiter.png);" class="img-header">
            <ion-thumbnail item-left>
                <img *ngIf="_res.image" src="{{ _res.image.url }}">
                <img *ngIf="!_res.image" src="assets/img/default-restaurant.png">
            </ion-thumbnail>
            <h2>{{_res.name}}</h2>
            <p>{{_res.address}}</p>
        </ion-item>
    </ion-list>

    <div *ngIf="!_thereAreCalls" style="padding: 0 40px;">
        <div class="img">
            <img src="assets/img/sections.png">
        </div>
        <div class="content" style="text-align: center">
            <h1>{{ 'MOBILE.WAITER_CALL.NO_CALLS' | translate }}</h1>
        </div>
    </div>

    <div *ngFor="let _call of _waiterCallDetail | async">
        <div *ngFor="let _table of _tables | async">
            <ion-card *ngIf="_table._id === _call.table_id">
                <ion-card-content>
                    <button ion-item detail-none (click)="showComfirmClose(_call)" *ngIf="_call.type == 'CALL_OF_CUSTOMER'">
                        <ion-thumbnail item-left>
                            <img src="assets/img/waiter-call.png">
                        </ion-thumbnail>
                        <h2>{{ 'MOBILE.WAITER_CALL.TABLE' | translate }} {{_table._number}}</h2>
                        <p>{{ 'MOBILE.WAITER_CALL.CALL_LABEL_CUSTOMER' | translate }}</p>
                        <span style="float: right;color: #5090ff;">{{'MOBILE.CLOSE' | translate}}</span>
                    </button>
                    <button ion-item detail-none (click)="goToOrderCall(_call)" *ngIf="_call.type == 'CUSTOMER_ORDER'">
                        <ion-thumbnail item-left>
                            <img src="assets/img/chef.png">
                        </ion-thumbnail>
                        <h2>{{ 'MOBILE.WAITER_CALL.TABLE' | translate }} {{_table._number}}</h2>
                        <p>{{ 'MOBILE.WAITER_CALL.CALL_LABEL_SEND_ORDER' | translate }}</p>
                        <span style="float: right;color: #5090ff;">{{'MOBILE.VIEW' | translate}}</span>
                    </button>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>