<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'MOBILE.PAYMENTS.PAY_DETAIL' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngFor="let pay of _payments | async">
        <ion-card>
            <ion-card-content>
                <ion-item-divider style="background: white; padding-left: 16px;">
                    <ion-avatar item-left>
                        <img *ngIf="pay.paymentMethodId == '10'" class="img-cards" src="assets/img/cash-payment.png">
                        <img *ngIf="pay.paymentMethodId == '20'" class="img-cards" src="assets/img/credit-card-payment.png">
                        <img *ngIf="pay.paymentMethodId == '30'" class="img-cards" src="assets/img/debit-card-payment.png">
                        <img *ngIf="pay.paymentMethodId == '40'" class="img-cards" src="assets/img/payment-online.png">
                    </ion-avatar>
                    <h2 style="font-weight: bold;">{{ 'MOBILE.PAYMENTS.TOTAL_TO_PAY' | translate }}: {{pay.totalToPayment}} {{_currency}}</h2>
                    <p> {{ 'MOBILE.PAYMENTS.TOTAL' | translate }}: {{pay.totalOrdersPrice}} {{_currency}}</p>
                    <p> {{ 'MOBILE.PAYMENTS.TIP' | translate }}: {{pay.totalTip}} {{_currency}}</p>
                    <h3 *ngIf="pay.status === 'PAYMENT.NO_PAID'" style="font-weight: bold; color: #ef5350;">{{'MOBILE.PAYMENTS.NO_PAYED' | translate}}</h3>
                    <h3 *ngIf="pay.status === 'PAYMENT.PAID'"    style="font-weight: bold; color: green;">{{'MOBILE.PAYMENTS.PAYED' | translate}}</h3>
                </ion-item-divider>
                
                <order-detail-pay-info *ngFor="let orderId of pay.orders" [orderId]="orderId" [restaurantId]="_restaurantId" [currency]="_currency"></order-detail-pay-info>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>