<div *ngIf="_order">
    <div *ngFor="let item of _order.items">
        <div class="item-divider-custom"></div>
        <item-pay-info [itemId]="item.itemId" [currency]="currency" [price]="item.paymentItem" [quantity]="item.quantity"></item-pay-info>
        
        <div *ngIf="(item.garnishFood.length > 0)">
            <span *ngFor="let gar of item.garnishFood">
                <span *ngFor="let garnish of _garnishFood | async">
                    <ng-template [ngIf]="gar === garnish._id">
                        <div class="item-divider-custom"></div>
                        <ion-item>
                            <ion-thumbnail item-left>
                                <img src="assets/img/default_addition.png">
                            </ion-thumbnail>
                            <h2>{{garnish.name}} ({{'MOBILE.PAYMENTS.GARNISH_FOOD' | translate }})</h2>
                            <p>{{'MOBILE.ORDER_TRANS.PRICE' | translate}}: {{getGarnisFoodUnitPrice(garnish)}} {{currency}}</p>
                            <p>{{'MOBILE.ORDERS.QUANT' | translate}} {{item.quantity}}</p>
                            <p>{{'MOBILE.ORDERS.TOTAL' | translate}} {{ getGarnishFoodTotalPrice(garnish, item.quantity) }} {{currency}}</p>
                        </ion-item>
                    </ng-template>
                </span>
            </span>
        </div>
        <div *ngIf="(item.additions.length > 0)">
            <div *ngFor="let ad of item.additions">
                <div *ngFor="let addition of _additions | async">
                    <ng-template [ngIf]="ad === addition._id">
                        <div class="item-divider-custom"></div>
                        <ion-item>
                            <ion-thumbnail item-left>
                                <img src="assets/img/default_addition.png">
                            </ion-thumbnail>
                            <h2>{{addition.name}} ({{'MOBILE.PAYMENTS.ADDITION' | translate }})</h2> 
                            <p>{{'MOBILE.ORDER_TRANS.PRICE' | translate}}: {{ getAdditionUnitPrice(addition) }} {{currency}}</p>
                            <p>{{'MOBILE.ORDERS.QUANT' | translate}} {{item.quantity}}</p>
                            <p>{{'MOBILE.ORDERS.TOTAL' | translate}} {{ getAdditionTotalPrice(addition, item.quantity) }} {{currency}}</p>
                        </ion-item>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let addition of _order.additions">
        <div class="item-divider-custom"></div>
        <addition-pay-info [additionId]="addition.additionId" [currency]="currency" [price]="addition.paymentAddition" [quantity]="addition.quantity"></addition-pay-info>
    </div>
</div>