<button mat-icon-button id="menu-toggler" matTooltip="{{'TOPNAV.ORDERS' | translate}}" (click)="goToRoute('/app/orders','TOPNAV.ORDERS')">
    <mat-icon>restaurant_menu</mat-icon>
</button>
<button mat-icon-button id="menu-toggler" matTooltip="{{'TOPNAV.PAYMENTS' | translate}}" (click)="goToRoute('/app/payments','TOPNAV.PAYMENTS')">
    <mat-icon>local_atm</mat-icon>
</button>
<button mat-icon-button id="menu-toggler" matTooltip="{{'TOPNAV.WAITER' | translate}}" (click)="goToRoute('/app/waiter-call','TOPNAV.WAITER')">
    <mat-icon>record_voice_over</mat-icon>
</button>
<button mat-icon-button id="menu-toggler" matTooltip="{{'TOPNAV.TABLES' | translate}}" (click)="goToRoute('/app/table-change','TOPNAV.TABLES')">
    <mat-icon>compare_arrows</mat-icon>
</button>
<button mat-icon-button id="menu-toggler" matTooltip="{{'TOPNAV.RESTAURANT_EXIT' | translate}}" (click)="goToRoute('/app/establishment-exit','TOPNAV.RESTAURANT_EXIT')">
    <mat-icon>exit_to_app</mat-icon>
</button>