.main-info{
    text-align: center;

}

.customer-info{
    font-family: Roboto,'Helvetica Neue',sans-serif;
    display: inline-block;
    font-weight: bold;
}
.exit-button{
    margin-left: 1rem;
    display: inline-block;
    vertical-align: middle;
}

.order-cancel-error{
    font-family: Roboto,'Helvetica Neue',sans-serif;
    margin: 0;
    color: red;
    font-weight: bold;
}

.order-status{
    font-size: 1.5em !important;
    font-weight: bold !important;
}

.cancel-order-button{
    display: inline-block;
    vertical-align: middle;
}

.name{
    margin-bottom: 0%;
}

.observations{
    margin-bottom: 0%;
}

.no-garnish{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0%;
}

.garnish-title{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0%
}

.garnish-name{
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0%;
}

.no-addition{
    display: inline-block;
    font-weight: bold;
}

.addition-title{
    display: inline-block;
    font-weight: bold;
}

.addition-name{
    display: inline-block;
    font-weight: bold;
}

.primary-button, .fab-button {
    display: none;
}

@media only screen and (max-width: 600px) {
    .fab-button {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    .primary-button{
        display: block;
        min-width: auto;
    }
}