.reward-edit {
    .item {
        font-weight: "bold";
    }

    .points {
        width: 30%;
    }

    .active {
        width: 40%;
        display: inline-block;
        margin-left: 2%;
    }
}