.tip {
    line-height: 50px;
    justify-content: space-between;
    display: flex;
}

.tip span {
    font-size: 1.17em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box;
}

.otherTip-content{
    text-align: right;

    .otherTip {
        width: 40%;
    }
}

.payment-methods{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .show-btn {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    img.custom {
        width: 80px !important; 
        height: 80px !important;
    }

    .show-fab {
        display: none;
    }
    
    h2.card-title {
        font-size: 1.5rem !important;
        color: #114b5f;
        font-weight: 500 !important;
    }

    .payment-methods{
        width: 30%;
    }
}

.card-subtitle{
    font-size: 1rem;
}

.card-button{
    min-width: auto;
}

.card-waiter-msg{
    font-size: 1rem;
    margin-bottom: 4%;
}

.card-pay{
    color: darkgoldenrod;
    font-weight: bold;
    font-size: larger;
}

.show-alert{
    position: absolute;
    right: 10px;
    top: 55px;
}

.confirm{
    color: red;
}

.pending-confirm{
    color: darkgoldenrod
}

.waiter-message{
    font-weight: bold;
    color: red;
}