<ion-header>
    <ion-toolbar>
        <ion-title>{{'MOBILE.SETTINGS.CHANGE_PASSWORD' | translate}}</ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancel()">
                <span ion-text showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="_changePasswordForm"  novalidate>
        <ion-card>
            <ion-card-content>
                <ion-list no-lines>
                    <ion-item>
                        <ion-label floating>{{'MOBILE.PASSWORD' | translate}}</ion-label>
                        <ion-input type="password" formControlName="old_password"></ion-input>
                    </ion-item>
                    <div *ngIf="_changePasswordForm.controls['old_password'].hasError('required') && _changePasswordForm.controls['old_password'].touched" class="error-message">{{'MOBILE.SIGNUP.REQUIRED_PASSWORD' | translate}}</div>
                    <div *ngIf="_changePasswordForm.controls['old_password'].hasError('minlength') && _changePasswordForm.controls['old_password'].touched" class="error-message">{{'MOBILE.SIGNUP.MIN_LENGTH_EMAIL' | translate}}</div>
                    <div *ngIf="_changePasswordForm.controls['old_password'].hasError('maxlength') && _changePasswordForm.controls['old_password'].touched" class="error-message">{{'MOBILE.SIGNUP.MAX_LENGTH_EMAIL' | translate}}</div>
                    <ion-item>
                        <ion-label floating>{{'MOBILE.SETTINGS.NEW_PASSWORD' | translate}}</ion-label>
                        <ion-input type="password" formControlName="new_password"></ion-input>
                    </ion-item>
                    <div *ngIf="_changePasswordForm.controls['new_password'].hasError('required') && _changePasswordForm.controls['new_password'].touched" class="error-message">{{'MOBILE.SIGNUP.REQUIRED_PASSWORD' | translate}}</div>
                    <div *ngIf="_changePasswordForm.controls['new_password'].hasError('minlength') && _changePasswordForm.controls['new_password'].touched" class="error-message">{{'MOBILE.SIGNUP.MIN_LENGTH_PASSWORD' | translate}}</div>
                    <div *ngIf="_changePasswordForm.controls['new_password'].hasError('maxlength') && _changePasswordForm.controls['panew_passwordssword'].touched" class="error-message">{{'MOBILE.SIGNUP.MAX_LENGTH_PASSWORD' | translate}}</div>
                    <ion-item>
                        <ion-label floating>{{'MOBILE.SETTINGS.CONFIRM_NEW_PASSWORD' | translate}}</ion-label>
                        <ion-input type="password" formControlName="confirm_new_password"></ion-input>
                    </ion-item>
                    <div *ngIf="_changePasswordForm.controls['confirm_new_password'].hasError('required') && _changePasswordForm.controls['confirm_new_password'].touched" class="error-message">{{'MOBILE.SIGNUP.REQUIRED_CONFIRM' | translate}}</div>
                    <div *ngIf="_changePasswordForm.controls['confirm_new_password'].hasError('minlength') && _changePasswordForm.controls['confirm_new_password'].touched" class="error-message">{{'MOBILE.SIGNUP.MIN_LENGTH_PASSWORD' | translate}}</div>
                    <div *ngIf="_changePasswordForm.controls['confirm_new_password'].hasError('maxlength') && _changePasswordForm.controls['confirm_new_password'].touched" class="error-message">{{'MOBILE.SIGNUP.MAX_LENGTH_PASSWORD' | translate}}</div>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <div padding>
            <button ion-button block outline type="submit" (click)="changePassword()">{{'MOBILE.MODIFY' | translate}}</button>
        </div>
    </form>
</ion-content>