<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'MOBILE.CUSTOMER_ORDER.TITLE' | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngFor="let order of _orders | async">
        <ion-list no-line>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/img/tables.png">
                </ion-avatar>
                <h2>{{ 'MOBILE.CUSTOMER_ORDER.ORDER' | translate }}: {{order.code}}</h2>
                <h3>{{ 'MOBILE.CUSTOMER_ORDER.CONSUMMER' | translate }}: {{ getUserName(order.creation_user) }}</h3>
                <p>{{ 'MOBILE.CUSTOMER_ORDER.TABLE' | translate }} {{_table?._number}} ({{ 'MOBILE.CUSTOMER_ORDER.ALPHANUMERIC_CODE'| translate }} {{_table?.QR_code}})</p>
            </ion-item>

            <span *ngFor="let it of order.items">
                <span *ngIf="it.is_reward">
                    <ion-item>
                        <h2 style="font-weight: bold;">{{it.quantity}} - {{getItemName(it.itemId)}}</h2>
                        <ion-badge style="background-color: #ffbf00;color: #fff;">{{ 'MOBILE.CUSTOMER_ORDER.ITEM_REDEEMED' | translate }}
                            <ion-icon name="ribbon"></ion-icon>
                        </ion-badge>
                    </ion-item>
                </span>
                <span *ngIf="!it.is_reward">
                    <ion-item>
                        <h2 style="font-weight: bold;">{{it.quantity}} - {{getItemName(it.itemId)}}</h2>
                        <h3>{{it.observations}}</h3>
                        <span *ngFor="let gr of it.garnishFood">
                            <h2>{{getGarnishFoodName(gr)}}</h2>
                        </span>
                        <span *ngFor="let ad of it.additions">
                            <h2>{{getAdditionName(ad)}}</h2>
                        </span>
                    </ion-item>
                </span>
            </span>
        </ion-list>
    </div>
</ion-content>


<ion-footer padding>
    <div class="action">
        <button ion-button outline class="action" (click)="showComfirm('cancel')">{{'MOBILE.CUSTOMER_ORDER.CANCEL' | translate}}</button>
        <button ion-button outline class="action" (click)="showComfirm('receive')">{{'MOBILE.CUSTOMER_ORDER.RECEIVE' | translate}}</button>
    </div>
</ion-footer>