<ion-header>
    <ion-navbar>
        <ion-title>{{'MOBILE.PAYMENTS_HISTORY.TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content  text-wrap>
    <ion-card>
        <ion-card-content>
            <ion-list no-lines>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/img/restaurant-pay-detail.png">
                    </ion-avatar>
                    <h2>{{_invoice.establishment_name}}</h2>
                    <p>{{_invoice.creation_date | date: 'dd MMM yyyy HH:mm'}}</p>
                </ion-item>
            </ion-list>
    
            <ion-item-group *ngFor="let item of _invoice.items">
                <ion-item>
                    <span>{{item.quantity}}</span>
                    <div class="item-name">
                        <span>{{itemNameCrop(item.item_name)}}</span>
                    </div>
                    <span class="span">{{(item.price * item.quantity)}} {{_invoice.currency}}</span>
                </ion-item>
                <ion-item *ngFor="let gf of item.garnish_food">
                    <span>{{item.quantity}}</span>
                    <div class="item-name">
                        <span>{{itemNameCrop(gf.garnish_food_name)}}</span>
                    </div>
                    <span class="span">{{(gf.price * item.quantity)}} {{_invoice.currency}}</span>
                </ion-item>
                <ion-item *ngFor="let ad of item.additions">
                    <span>{{item.quantity}}</span>
                    <div class="item-name">
                        <span>{{itemNameCrop(ad.addition_name)}}</span>
                    </div>
                    <span class="span">{{(ad.price * item.quantity)}} {{_invoice.currency}}</span>
                </ion-item>
            </ion-item-group>
            
            <ion-item-group *ngFor="let addition of _invoice.additions">
                <ion-item>
                    <span>{{addition.quantity}}</span>
                    <div class="item-name">
                        <span>{{itemNameCrop(addition.addition_name)}}</span> 
                    </div>
                    <span class="span">{{((addition.price * addition.quantity))}} {{_invoice.currency}}</span>
                </ion-item>
            </ion-item-group>
        </ion-card-content>
    </ion-card>


</ion-content>

<ion-footer class="ion-footer-custom" padding>
    <ion-item>
        <div style="display: -webkit-inline-box; width: 100%; line-height: 30px;">
            <img *ngIf="_invoice.pay_method == 'PAYMENT_METHODS.CASH'" class="img-footer img-cards" src="assets/img/cash-payment.png">
            <img *ngIf="_invoice.pay_method == 'PAYMENT_METHODS.CREDIT_CARD'" class="img-footer img-cards" src="assets/img/credit-card-payment.png">
            <img *ngIf="_invoice.pay_method == 'PAYMENT_METHODS.DEBIT_CARD'" class="img-footer img-cards" src="assets/img/debit-card-payment.png">
            <img *ngIf="_invoice.pay_method == 'PAYMENT_METHODS.ONLINE'" class="img-footer img-cards" src="assets/img/payment-online.png">
            <p style="line-height: inherit">
                {{_invoice.pay_method | translate}}
            </p>
        </div>
        <div style="position: relative">
            <h4>{{ 'MOBILE.PAYMENTS_HISTORY.TOTAL_ORDERS' | translate }}</h4>
            <p style="position: absolute; right: 0; top: 0;">{{_invoice.total_order}} {{_invoice.currency}}</p>
        </div>
        <div style="position: relative">
            <h4>{{ 'MOBILE.PAYMENTS_HISTORY.TIP' | translate }}</h4>
            <p style="position: absolute; right: 0; top: 0;">{{_invoice.total_tip}} {{_invoice.currency}}</p>
        </div>
    </ion-item>
    <h1 style="display: inline-block;">{{ 'MOBILE.PAYMENTS_HISTORY.TOTAL' | translate }}</h1>
    <h1 style="display: inline-block; position: absolute; right: 15px;">{{_invoice.total_pay}} {{_invoice.currency}}</h1>
</ion-footer>