<div class="call-card">
    <mat-card class="card_image">
        <mat-list>
            <mat-list-item *ngFor="let _est of _establishments | async">
                    <img mat-list-avatar style="border-radius: 50%; width: 100px; height: 100px;" *ngIf="_est.image" src="{{ _est.image.url }}">
                    <img mat-list-avatar style="border-radius: 50%; width: 100px; height: 100px;" *ngIf="!_est.image" src="/images/default-restaurant.png">                    
                <h2 mat-line style="font-size: 1.5rem;"> {{_est.name}} </h2>
                <p mat-line style="font-size: 1rem;">
                    <mat-icon style="vertical-align: middle">location_on</mat-icon>
                    <span> {{_est.address}} </span>
                </p>
                <p mat-line style="font-size: 1rem;">
                    <mat-icon style="vertical-align: middle">phone</mat-icon>
                    <span class="detail-message">{{_est.indicative}} {{_est.phone}}</span>
                </p>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>

<mat-card *ngIf="!_thereAreCalls">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" 
                        src="/images/sections.png"/>
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{ 'WAITER_CALL.NO_CALLS' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div>
    <mat-card *ngFor="let _call of _waiterCallDetail | async" class="cards">
        <mat-card-content>
            <div class="item-block">
                <img *ngIf="_call.type === 'CUSTOMER_ORDER'" class="img-list" src="/images/chef.png"/>
                <img *ngIf="_call.type === 'CALL_OF_CUSTOMER'" class="img-list" src="/images/waiter-call.png"/>
                <div class="header-title">
                    <div class="label">
                        <span>{{ 'TABLES.TABLE' | translate }} {{getTableNumber(_call.table_id)}}</span>
                        <p style="margin-bottom: 0px; margin-top: 0px;" *ngIf="_call.type === 'CUSTOMER_ORDER'">{{ 'WAITER_CALL.CALL_LABEL_CUSTOMER_ORDER' | translate }}</p>
                        <p style="margin-bottom: 0px; margin-top: 0px;" *ngIf="_call.type === 'CALL_OF_CUSTOMER'">{{ 'WAITER_CALL.CALL_LABEL_CUSTOMER' | translate }}</p>
                    </div>
                    <button mat-raised-button *ngIf="_call.type === 'CALL_OF_CUSTOMER'" (click)="showConfirm(_call)" class="active-button">{{ 'CLOSE' | translate }}</button>
                    <button mat-raised-button *ngIf="_call.type === 'CUSTOMER_ORDER'" (click)="showCustomerOrder(_call)" class="active-button">{{ 'VIEW_DETAIL' | translate }}</button>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
    </mat-card>
</div>

<div class="loading" *ngIf="_loading">
    <mat-spinner></mat-spinner>
</div>