<mat-card *ngIf="!_thereAreItems">
    <mat-card-content>
        <div class="card_initial">
            <div class="card_initial has-image">
                <div class="card_initial-image-container">
                    <img class="card_initial-image" src="/images/items-enabled.png" />
                </div>
                <div class="card_initial-copy">
                    <div class="card_initial-tagline">
                        {{'ITEMS.MESSAGE' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngFor="let item of _items | async" class="item">
    <div class="mdc-card__horizontal-block">
        <section class="mdc-card__primary">
            <mat-card-title>{{item.name}}</mat-card-title>
            <p *ngIf="item.description.length > 50">{{item.description.substring(0, 50)}}...</p>
            <p *ngIf="item.description.length <= 50">{{item.description}}</p>
        </section>
        <img class="mdc-card-media-item" *ngIf="item.image" src="{{ item.image.url }}" alt="{{item.name}}">
        <img class="mdc-card-media-item" *ngIf="!item.image" src="/images/default-plate.png" alt="{{item.name}}">
    </div>

    <mat-card-actions align="end">
        <span class="app-flex-filler lh">
            <button *ngIf="getItemRecommendation(item)" mat-icon-button color="accent" (click)="updateRecommendedFlag(item._id)">
                <mat-icon class="md-24">star</mat-icon>
            </button>
            <button *ngIf="!getItemRecommendation(item)" mat-icon-button (click)="updateRecommendedFlag(item._id)">
                <mat-icon class="md-24">star_border</mat-icon>
            </button>
            <mat-slide-toggle [checked]="getItemAvailable(item)" (change)="updateAvailableFlag(item._id)"></mat-slide-toggle>
        </span>
    </mat-card-actions>
</mat-card>