<ion-header>
  <ion-navbar>
    <ion-title>{{getItemName(_item_code)}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of _items | async">
    <div class="crop">
      <img *ngIf="item.image" src="{{item.image.url}}" style="display:inline-block">
      <img *ngIf="!item.image" src="assets/img/default-plate.png" style="display:inline-block">
    </div>
    <ion-card class="ion-card-custom">
      <ion-card-content>
        <ion-card-title>{{item.name}}</ion-card-title>
        <p *ngIf='item.description != ""' class="item-paragraph-custom" style="margin-bottom: 10px">{{item.description}}</p>
        <ion-list>
          <h2 style="font-weight: bold;">{{'MOBILE.SECTIONS.UNIT_PRICE' | translate}} {{ getItemPrice( item ) }} {{_currencyCode}}</h2>
          <ion-item style="padding-left: 0px" *ngIf="item.time">
            <ion-label>
              {{'MOBILE.SECTIONS.TIME' | translate}}
              <span style="color: #666"> {{ item.time }} </span>
            </ion-label>
          </ion-item>
        </ion-list>
        <p *ngIf="!getItemAvailability()" class="item-paragraph-custom" style="margin-top: 15px;  color: #000">
          {{'MOBILE.SECTIONS.ITEM_UNAVAILABLE' | translate}}
        </p>
        <div>
          <div *ngIf="(item.options.length > 0)">
            <div *ngFor="let option of _options | async">
              <div *ngFor="let opt of item.options">
                <div *ngIf="option._id === opt.option_id">
                  <p style="font-weight:bold;">{{option.name}}</p>
                  <span *ngFor="let value of _optionValues | async">
                    <span *ngFor="let val of opt.values">
                      <ion-item *ngIf="value._id === val.option_value_id" style="padding-left: 0px">
                        <ion-label style="white-space: normal">
                          {{value.name}}
                          <span *ngIf="val.have_price" style="color: #666">- {{val.price}} {{_currencyCode}}</span>
                        </ion-label>
                      </ion-item>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="item.additions.length > 0">
            <h3 class="custom-padding">{{'MOBILE.SECTIONS.ADDITIONS' | translate}}</h3>
            <div>
              <div *ngFor="let itemAddition of item.additions">
                <div *ngFor="let addition of _additions | async">
                  <ion-item class="ion-item-cust" style="padding-left: 0px" *ngIf="itemAddition ==  addition._id">
                    <ion-label style="white-space: normal">{{addition.name}} -
                      <span style="color: #666">{{ getAdditionsPrice( addition ) }} {{_currencyCode}}</span>
                    </ion-label>
                  </ion-item>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>