<div class="dpa">
    <div class="dcf">
        <div class="dc">
            <div class="dmpc">
                <mat-form-field style="display: block">
                    <mat-select placeholder="{{'ORDER_CREATE.SEARCH_MENU' | translate}}">
                        <mat-nav-list class="side-navigation">
                            <mat-option class="so" mat-list-item (click)="validateSection('all', '')" [value]="all">
                                {{'ORDER_CREATE.SHOW_ALL' | translate}}
                            </mat-option>
                            <mat-option class="so" mat-list-item (click)="validateSection('recommended', '')" [value]="recommended">
                                {{'ORDER_CREATE.RECOMMENDED' | translate}}
                            </mat-option>
                            <a class="so" *ngFor="let menu of _orderMenus">
                                <mat-option class="so" mat-list-item [value]="menu.iurestId" (click)="validateSection('section', menu.iurestId.id)">{{menu.title}}</mat-option>
                                <mat-nav-list class="nav-children active mat-nav-children">
                                    <mat-option class="mat-option-chilren" *ngFor="let children of menu.children" [value]="children.iurestId" (click)="validateSection('category', children.iurestId.id)">{{ children.title }}</mat-option>
                                </mat-nav-list>
                            </a>
                            <mat-option *ngIf="_showAdditionsOption" class="so" mat-list-item (click)="validateSection('addition', '')">
                                <span class="title">{{'ORDER_CREATE.ADDITIONS' | translate}}</span>
                            </mat-option>
                        </mat-nav-list>
                    </mat-select>
                </mat-form-field>

                <h1 class="section" *ngIf="(_itemsRecommended | async)?.length > 0">{{'ORDER_CREATE.RECOMMENDED' | translate}}</h1>
                <mat-card class="item-consumer" *ngFor="let item of _itemsRecommended | async">
                    <img mat-card-image *ngIf="item.image" src="{{ item.image.url }}" alt="{{item.name}}">
                    <img mat-card-image *ngIf="!item.image" src="/images/default-plate.png" alt="{{item.name}}">
                    <mat-card-content>
                        <mat-card-title>{{item.name}}</mat-card-title>
                        <p *ngIf="item.description.length > 50">{{item.description.substring(0, 50)}}...</p>
                        <p *ngIf="item.description.length <= 50">{{item.description}}</p>
                        <mat-list>
                            <mat-list-item *ngIf="!getItemAvailability(item._id)" class="available-button">
                                <mat-icon mat-list-icon>clear</mat-icon>
                                <h3>{{'ORDER_CREATE.UNAVAILABLE' | translate}}</h3>
                            </mat-list-item>
                            <mat-list-item *ngIf="getItemAvailability(item._id)">
                                <mat-icon mat-list-icon>done</mat-icon>
                                <h3>{{ getItemPrice( item ) }} {{_currencyCode}}</h3>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-button (click)="showItemInformation(item)">{{'VIEW' | translate}}</button>
                        <span class="app-flex-filler"></span>
                        <mat-chip-list *ngIf="item.has_reward">
                            <mat-chip class="cust-color-chip">{{'ORDER_CREATE.GET_POINTS' | translate}} {{item.reward_points}} {{'ORDER_CREATE.POINTS' | translate}}
                                <mat-icon style="margin-left: 5px;">star</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </mat-card-actions>
                </mat-card>

                <span *ngFor="let section of _sections | async">
                    <h1 class="section">{{section.name}}</h1>
                    <span *ngFor="let item of _items | async">
                        <ng-template [ngIf]="item.sectionId === section._id && item.categoryId === '' && item.subcategoryId === ''">
                            <mat-card class="item-consumer">
                                <img mat-card-image *ngIf="item.image" src="{{ item.image.url }}" alt="{{item.name}}">
                                <img mat-card-image *ngIf="!item.image" src="/images/default-plate.png" alt="{{item.name}}">
                                <mat-card-content>
                                    <mat-card-title>{{item.name}}</mat-card-title>
                                    <p *ngIf="item.description.length > 50">{{item.description.substring(0, 50)}}...</p>
                                    <p *ngIf="item.description.length <= 50">{{item.description}}</p>
                                    <mat-list>
                                        <mat-list-item *ngIf="!getItemAvailability(item._id)" class="available-button">
                                            <mat-icon mat-list-icon>clear</mat-icon>
                                            <h3>{{'ORDER_CREATE.UNAVAILABLE' | translate}}</h3>
                                        </mat-list-item>
                                        <mat-list-item *ngIf="getItemAvailability(item._id)">
                                            <mat-icon mat-list-icon>done</mat-icon>
                                            <h3>{{ getItemPrice( item ) }} {{_currencyCode}}</h3>
                                        </mat-list-item>
                                    </mat-list>
                                </mat-card-content>
                                <mat-card-actions align="end">
                                    <button mat-button (click)="showItemInformation(item)">{{'VIEW' | translate}}</button>
                                    <span class="app-flex-filler"></span>
                                    <mat-chip-list *ngIf="item.has_reward">
                                        <mat-chip class="cust-color-chip">{{'ORDER_CREATE.GET_POINTS' | translate}} {{item.reward_points}} {{'ORDER_CREATE.POINTS'
                                            | translate}}
                                            <mat-icon style="margin-left: 5px;">star</mat-icon>
                                        </mat-chip>
                                    </mat-chip-list>
                                </mat-card-actions>
                            </mat-card>
                        </ng-template>
                    </span>
                    <span *ngFor="let category of _categories | async">
                        <ng-template [ngIf]="category.section === section._id">
                            <h2 class="category">{{category.name}}</h2>
                            <span *ngFor="let item of _items | async">
                                <ng-template [ngIf]="item.sectionId === section._id && item.categoryId === category._id && item.subcategoryId === ''">
                                    <mat-card class="item-consumer">
                                        <img mat-card-image *ngIf="item.image" src="{{ item.image.url }}" alt="{{item.name}}">
                                        <img mat-card-image *ngIf="!item.image" src="/images/default-plate.png" alt="{{item.name}}">
                                        <mat-card-content>
                                            <mat-card-title>{{item.name}}</mat-card-title>
                                            <p *ngIf="item.description.length > 50">{{item.description.substring(0, 50)}}...</p>
                                            <p *ngIf="item.description.length <= 50">{{item.description}}</p>
                                            <mat-list>
                                                <mat-list-item *ngIf="!getItemAvailability(item._id)" class="available-button">
                                                    <mat-icon mat-list-icon>clear</mat-icon>
                                                    <h3>{{'ORDER_CREATE.UNAVAILABLE' | translate}}</h3>
                                                </mat-list-item>
                                                <mat-list-item *ngIf="getItemAvailability(item._id)">
                                                    <mat-icon mat-list-icon>done</mat-icon>
                                                    <h3>{{ getItemPrice( item ) }} {{_currencyCode}}</h3>
                                                </mat-list-item>
                                            </mat-list>
                                        </mat-card-content>
                                        <mat-card-actions align="end">
                                            <button mat-button (click)="showItemInformation(item)">{{'VIEW' | translate}}</button>
                                            <span class="app-flex-filler"></span>
                                            <mat-chip-list *ngIf="item.has_reward">
                                                <mat-chip class="cust-color-chip">{{'ORDER_CREATE.GET_POINTS' | translate}} {{item.reward_points}} {{'ORDER_CREATE.POINTS'
                                                    | translate}}
                                                    <mat-icon style="margin-left: 5px;">star</mat-icon>
                                                </mat-chip>
                                            </mat-chip-list>
                                        </mat-card-actions>
                                    </mat-card>
                                </ng-template>
                            </span>
                            <span *ngFor="let subcategory of _subcategories | async">
                                <ng-template [ngIf]="subcategory.category === category._id">
                                    <h2 class="category">{{subcategory.name}}</h2>
                                    <span *ngFor="let item of _items | async">
                                        <ng-template [ngIf]="item.sectionId === section._id && item.categoryId === category._id && item.subcategoryId === subcategory._id">
                                            <mat-card class="item-consumer">
                                                <img mat-card-image *ngIf="item.image" src="{{ item.image.url }}" alt="{{item.name}}">
                                                <img mat-card-image *ngIf="!item.image" src="/images/default-plate.png" alt="{{item.name}}">
                                                <mat-card-content>
                                                    <mat-card-title>{{item.name}}</mat-card-title>
                                                    <p *ngIf="item.description.length > 50">{{item.description.substring(0, 50)}}...</p>
                                                    <p *ngIf="item.description.length <= 50">{{item.description}}</p>
                                                    <mat-list>
                                                        <mat-list-item *ngIf="!getItemAvailability(item._id)" class="available-button">
                                                            <mat-icon mat-list-icon>clear</mat-icon>
                                                            <h3>{{'ORDER_CREATE.UNAVAILABLE' | translate}}</h3>
                                                        </mat-list-item>
                                                        <mat-list-item *ngIf="getItemAvailability(item._id)">
                                                            <mat-icon mat-list-icon>done</mat-icon>
                                                            <h3>{{ getItemPrice( item ) }} {{_currencyCode}}</h3>
                                                        </mat-list-item>
                                                    </mat-list>
                                                </mat-card-content>
                                                <mat-card-actions align="end">
                                                    <button mat-button (click)="showItemInformation(item)">{{'VIEW' | translate}}</button>
                                                    <span class="app-flex-filler"></span>
                                                    <mat-chip-list *ngIf="item.has_reward">
                                                        <mat-chip class="cust-color-chip">{{'ORDER_CREATE.GET_POINTS' | translate}} {{item.reward_points}}
                                                            {{'ORDER_CREATE.POINTS' | translate}}
                                                            <mat-icon style="margin-left: 5px;">star</mat-icon>
                                                        </mat-chip>
                                                    </mat-chip-list>
                                                </mat-card-actions>
                                            </mat-card>
                                        </ng-template>
                                    </span>
                                </ng-template>
                            </span>
                        </ng-template>
                    </span>
                </span>
            </div>
        </div>

        <div class="fixed-action-btn">
            <button id="fb" mat-fab (click)="finishOrderCreation(true)">
                <mat-icon class="color-button-icon">keyboard_arrow_left</mat-icon>
            </button>
        </div>

        <div id="item-selected" class="item-detail animated">
            <div *ngFor="let itemDet of _itemDetail | async">
                <div class="header-detail-static">
                    <button class="btn-close" mat-raised-button (click)="viewItemDetail('item-selected',true)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div id="mt" class="header-detail header-detail-hide">
                    <label>{{itemDet.name}}</label>
                    <button class="btn-close" mat-raised-button (click)="viewItemDetail('item-selected',true)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div id="is" class="item-detail-card" (scroll)="showHeaderDetail()">
                    <div class="card-content">
                        <div class="crop">
                            <img *ngIf="itemDet.image" src="{{ itemDet.image.url }}">
                            <img *ngIf="!itemDet.image" src="/images/default-plate.png">
                        </div>
                        <div class="content">
                            <p *ngIf='itemDet.description != ""'>{{itemDet.description}}</p>
                            <mat-card-subtitle *ngIf='itemDet.time != ""' class="description">{{'ORDER_CREATE.COOKING_TIME' | translate}} {{itemDet.time}}</mat-card-subtitle>
                            <h3>{{'ORDER_CREATE.PRICE' | translate}}: {{ getItemPrice( itemDet ) }} {{_currencyCode}}</h3>
                            <p *ngIf="!getItemAvailability(itemDet._id)" class="available-button">{{'ORDER_CREATE.ITEM_UNAVAILABLE' | translate}}</p>
                            <div *ngIf="getItemAvailability(itemDet._id)">
                                <div>
                                    <div class="quantity-count">
                                        <span>{{'ORDER_CREATE.QUANTITY' | translate}}: {{ _quantityCount }}</span>
                                    </div>
                                    <div class="inline-block">
                                        <button mat-button class="quantity-button" (click)="removeCount(itemDet)">
                                            <mat-icon>remove</mat-icon>
                                        </button>
                                        <button mat-button class="quantity-button" (click)="addCount(itemDet)">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <form [formGroup]="_newOrderForm">
                                    <mat-form-field *ngIf="itemDet.observations" style="width: 100%">
                                        <input matInput formControlName="observations" placeholder="{{'ORDER_CREATE.OBSERVATIONS' | translate}}" maxlength="50" #inputObservation>
                                        <mat-hint align="end">{{inputObservation.value.length}} / 50</mat-hint>
                                    </mat-form-field>
                                    <div *ngIf="(itemDet.options.length > 0)">
                                        <div formGroupName="options">
                                            <div *ngFor="let option of _options | async">
                                                <span *ngFor="let opt of itemDet.options">
                                                    <ng-template [ngIf]="option._id === opt.option_id">
                                                        <p style="font-weight:bold;">{{option.name}}</p>
                                                        <mat-radio-group [formControlName]="option._id">
                                                            <span *ngFor="let value of _optionValues | async">
                                                                <span *ngFor="let val of opt.values">
                                                                    <div *ngIf="value._id === val.option_value_id" style="display: flex;">
                                                                        <mat-radio-button style="margin: 5px;" [value]="value._id" (change)="calculateFinalPriceOptionValue(option._id, $event)">{{value.name}}</mat-radio-button>
                                                                        <span class="app-flex-filler"></span>
                                                                        <span *ngIf="val.have_price" style="line-height: 32px;">{{val.price}} {{_currencyCode}}</span>
                                                                    </div>
                                                                </span>
                                                            </span>
                                                        </mat-radio-group>
                                                    </ng-template>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="(itemDet.additions.length > 0)">
                                        <p style="font-weight:bold">{{'ORDER_CREATE.SELECT_ADDITIONS' | translate}}:</p>
                                        <div formGroupName="additions">
                                            <p *ngFor="let addition of _additions | async">
                                                <span *ngFor="let add of itemDet.additions">
                                                    <ng-template [ngIf]="addition._id === add">
                                                        <div style="display: flex;">
                                                            <mat-checkbox style="margin-left: 5px;" [formControlName]="addition._id" (change)="calculateFinalPriceAddition($event, addition)" [class.invalid]="!_newOrderForm.controls.additions.valid">{{addition.name}}</mat-checkbox>
                                                            <span class="app-flex-filler"></span>
                                                            <span style="line-height: 24px;">{{getAdditionPrice(addition)}} {{_currencyCode}}</span>
                                                        </div>
                                                    </ng-template>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <h2>{{'ORDER_CREATE.TOTAL_PRICE' | translate}}: {{ _finalPrice }} {{_currencyCode}}</h2>
                            <div>
                                <mat-chip-list *ngIf="itemDet.has_reward" style="display: inline-block; margin-bottom: 19px">
                                    <mat-chip class="cust-color-chip">{{_finalPoints}} {{'ORDER_CREATE.POINTS' | translate}}
                                        <mat-icon style="margin-left: 5px;">star</mat-icon>
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                            <p *ngIf="_showOptionsError" style="color: #EF5350;">{{'ORDER_CREATE.OPTIONS_ERROR' | translate}}</p>
                            <button *ngIf="getItemAvailability(itemDet._id)" mat-button class="primary-button" [disabled]="!_newOrderForm.valid" (click)="AddItemToOrder(itemDet._id)">{{'ORDER_CREATE.ADD_ITEM' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="addition-detail" class="item-detail">
            <div class="header-detail-static pr">
                <button class="btn-close" mat-raised-button (click)="viewItemDetail('addition-detail', true)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="item-detail-card">
                <div class="card-content">
                    <div class="crop"></div>
                    <div class="content">
                        <p>{{'ORDER_CREATE.ADD_ADDITIONS' | translate}}:</p>
                        <form [formGroup]="_additionsDetailFormGroup">
                            <div *ngFor="let add of _additions | async">
                                <mat-form-field style="width: 100%;">
                                    <input matInput [formControlName]="add._id" type="number" placeholder="{{ getAdditionInformation(add) }} {{_currencyCode}}"
                                        min="0" max="99">
                                </mat-form-field>
                            </div>
                        </form>
                        <button mat-button class="primary-button" style="margin-top: 5%;" (click)="AddAdditionsToOrder()">{{'ORDER_CREATE.ADD_ADDITION_ORDER' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>