@import "public/css/animate";
        
.description {
    color: black;
}
            
.price {
    font-weight: bold;
    color: black;
}

.pr{
    position: relative;
}

.quantity-count{
    display: inline-block;
    width: 100px;
}

.inline-block {
    display: inline-block;
}

.button-action {		
    font-weight: bold;
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 8px;
    right: 15px;
}

.available-button {
    color: #D50000;
}

.color-button-icon {
    color: white;
}

mat-tab-group {
    width: 348px;
}

@media only screen and (min-width: 481px){
    .custom-cards{
        width: 240px !important;
    }
}

@media only screen and (min-width: 600px) {
    mat-card.item-consumer {
        display: inline-block; 
        margin: 0 20px 20px 0 !important;
        width: 230px;
        vertical-align: top;
    }
}

.cust-color-chip {
    color: white;
    background-color: darkorange;
    height: 10px;
}

.mat-nav-children {
    background-color: whitesmoke;
}

.mat-option-chilren {
    padding: 0 16px 0 32px;
}

mat-nav-list.mat-nav-children::before, mat-nav-list.mat-nav-children::after {
    width: 100%;
}

h1.section {
    color: #3c4145;
}

h2.category {
    color: #696969;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
    max-width: 940px;
}