<div class="header">
    <h2>{{_establishment.name}}</h2>
    <span class="app-flex-filler"></span>
    <mat-icon class="ic">date_range</mat-icon>
    <mat-form-field>
        <mat-select [(value)]="_selected" placeholder="{{'CHART_DETAIL.FROM' | translate}} {{_dateIni | date:'d/M/y'}} {{'CHART_DETAIL.TO' | translate}} {{_dateEnd | date:'d/M/y'}}">
            <mat-optgroup label="{{'CHART_DETAIL.FROM' | translate}} {{_dateIni | date:'d/M/y'}} {{'CHART_DETAIL.TO' | translate}} {{_dateEnd | date:'d/M/y'}}">
                <mat-option *ngFor="let option of _dataSelect" [value]="option.value" (click)="changeDateRange(option.value)">
                    {{ option.viewValue | translate }}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
</div>

<div class="g_charts">
    <mat-card class="bar_chart">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
            [chartType]="barChartType" (chartHover)="chartHovered($event)"></canvas>
    </mat-card>

    <mat-card *ngIf="_showDoughnutChart">
        <p>{{'CHART_DETAIL.ITEMS_SOLD' | translate}}</p>
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
    </mat-card>
</div>