.order {
    background-color: #114B5F;
    color: white;
    margin-bottom: 1%;
}

.order-code {
    margin-right: 1rem;
}

.confirm-button {
    margin-left: 5%;
    color: black;
}

.order-icon {
    margin-right: 1%;
}

.main-card{
    .image{
        border-radius: 50%; 
        width: 100px; 
        height: 100px;
    }

    .title{
        font-size: 1.5rem;
        color: #114b5f;
        font-weight: 500;
    }

    .subtitle{
        font-size: 1rem;
    }

    .button{
        width: 40%;
    }
}

.card-button{
    min-width: auto;
}

//
@media only screen and (max-width: 600px) {
    .show-btn {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    img.custom {
        width: 80px !important; 
        height: 80px !important;
    }

    .show-fab {
        display: none;
    }
    
    h2.card-title {
        font-size: 1.5rem !important;
        color: #114b5f;
        font-weight: 500 !important;
    }
}

.card-subtitle {
    white-space: normal !important;
    font-size: 1rem;
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}