<div class="dpa">
    <div class="dcf">
        <div class="dc">
            <div class="dmpc">
                <mat-card mat-cell="12" *ngIf="!_showPaymentInfo">
                    <mat-card-content>
                        <div class="card_initial">
                            <div class="card_initial has-image">
                                <div class="card_initial-image-container">
                                    <img class="card_initial-image" src="/images/payment-desabled.png" />
                                </div>
                                <div class="card_initial-copy">
                                    <div class="card_initial-tagline">
                                        {{'PAYMENTS.THERE_IS_NOT_REST' | translate}}
                                    </div>
                                    <div class="card_initial-additional-links">
                                        {{'PAYMENTS.THERE_IS_NOT_REST_MSG' | translate}}
                                    </div>
                                </div>
                                <div class="card_initial-button">
                                    <button mat-raised-button (click)="goToOrders()">{{'PAYMENTS.GO_TO_ORDERS' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card *ngIf="_showPaymentInfo">
                    <mat-list>
                        <mat-list-item>
                            <img mat-list-avatar class="custom" src="/images/orders.png">
                            <h2 mat-line class="card-title">{{'ORDER_PAYMENT_TRANS.CONSULT_TABLE_ORDERS_TITLE' | translate}}</h2>
                            <p mat-line class="card-subtitle">{{'ORDER_PAYMENT_TRANS.CONSULT_TABLE_ORDERS_SUBTITLE_1' | translate}}</p>
                            <p mat-line class="card-subtitle">{{'ORDER_PAYMENT_TRANS.CONSULT_TABLE_ORDERS_SUBTITLE_2' | translate}}</p>
                            <button mat-raised-button class="primary-button card-button show-btn" (click)="open()">{{'ORDER_PAYMENT_TRANS.CONSULT_TABLE_ORDERS' | translate}}</button>
                            <button md-icon-button class="show-fab">
                                <mat-icon class="md-24" aria-label="">keyboard_arrow_right</mat-icon>
                            </button>
                        </mat-list-item>
                    </mat-list>
                </mat-card>

                <mat-card *ngIf="_showPaymentInfo">
                    <mat-card-title> {{'ORDER_PAYMENT_TRANS.ORDERS_TO_CONFIRM_TITLE' | translate}}</mat-card-title>
                    <mat-card-subtitle>{{'ORDER_PAYMENT_TRANS.ORDER_TO_CONFIRM' | translate}}</mat-card-subtitle>
                    <p *ngIf="(_ordersToConfirm | async)?.length <= 0">{{'ORDER_PAYMENT_TRANS.NO_ORDERS' | translate}}</p>
                    <mat-list>
                        <div *ngFor="let orderCon of _ordersToConfirm | async">
                            <mat-list-item>
                                <mat-icon mat-list-icon>view_list</mat-icon>
                                <h4 mat-line>{{'ORDER_PAYMENT_TRANS.ORDERS' | translate}} # {{orderCon.code}}</h4>
                                <p mat-line>{{'ORDER_PAYMENT_TRANS.TOTAL' | translate}}: {{orderCon.totalPayment}} {{_currencyCode}}</p>
                                <button mat-raised-button class="primary-button" (click)="confirmOrderToPay(orderCon)">{{'ORDER_PAYMENT_TRANS.CONFIRM' | translate}}</button>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-list>
                </mat-card>

                <mat-card *ngIf="_showPaymentInfo">
                    <mat-card-title>{{'ORDER_PAYMENT_TRANS.ORDERS_TO_PAY_TITLE' | translate}}</mat-card-title>
                    <mat-card-subtitle>{{'ORDER_PAYMENT_TRANS.PENDING_ORDERS' | translate}}</mat-card-subtitle>
                    <p *ngIf="(_ordersWithPendingConfirmation | async)?.length <= 0">{{'ORDER_PAYMENT_TRANS.NO_ORDERS' | translate}}</p>
                    <mat-list>
                        <div *ngFor="let orderPenCon of _ordersWithPendingConfirmation | async">
                            <mat-list-item>
                                <mat-icon mat-list-icon>view_list</mat-icon>
                                <h4 mat-line>{{'ORDER_PAYMENT_TRANS.ORDERS' | translate}} # {{orderPenCon.code}}</h4>
                                <p mat-line>{{orderPenCon.totalPayment}} {{_currencyCode}}</p>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-list>
                </mat-card>
            </div>
        </div>

        <div class="fixed-action-btn">
            <button id="fb" mat-fab (click)="returnToPaymentsComponent()">
                <mat-icon class="color-button-icon">keyboard_arrow_left</mat-icon>
            </button>
        </div>
    </div>
</div>