<div #customContent class="custom-content" text-wrap>
    <ion-card *ngIf="_paymentCreated">
        <ion-card-content>
            <ion-list no-lines>
                <button ion-item (click)="goToPaymentInfo()">
                    <ion-avatar item-start>
                        <img src="assets/img/payment-pending.png">
                    </ion-avatar>
                    {{'MOBILE.PAYMENTS.PENDING_PAYMENT_MSG' | translate}}
                    <ion-icon showWhen="android" name="ios-arrow-forward" item-end style="color: rgba(60, 60, 60, 0.7)"></ion-icon>
                </button>  
            </ion-list>
        </ion-card-content>
    </ion-card>
    
    <ion-card>
        <ion-card-content>
            <ion-list no-lines>
                <button ion-item (click)="goToPaymentDetails()">
                    <ion-avatar item-start>
                        <img src="assets/img/view-detail.png">
                    </ion-avatar>
                    {{'MOBILE.PAYMENTS.VIEW_DETAIL' | translate}}
                    <ion-icon showWhen="android" name="ios-arrow-forward" item-end style="color: rgba(60, 60, 60, 0.7)"></ion-icon>
                </button>  
            </ion-list>
        </ion-card-content>
    </ion-card>
    
    <ion-card>
        <ion-card-content>
            <ion-list no-lines>
                <button ion-item (click)="goToAddOrders()">
                    <ion-avatar item-start>
                        <img src="assets/img/add-order.png">
                    </ion-avatar>
                    {{'MOBILE.PAYMENTS.ADD_ORDER' | translate}}
                    <ion-icon *ngIf="_showAlertToConfirm" style="color: #Ef5350; margin-left: 1rem" name="information-circle"></ion-icon>
                    <ion-icon *ngIf="_showAlertWithPendingConf" style="color: #EBC785; margin-left: 1rem" name="information-circle"></ion-icon>
                    <ion-icon showWhen="android" name="ios-arrow-forward" item-end style="color: rgba(60, 60, 60, 0.7)"></ion-icon>
                </button>  
            </ion-list>
        </ion-card-content>
    </ion-card>
    
    <ion-card>
        <ion-card-content>
            <ion-list no-lines>
                <button ion-item (click)="presentModal()">
                    <ion-avatar item-start>
                        <img *ngIf="_paymentMethod === 'MOBILE.PAYMENTS.SELECT_PAYMENT_METHOD'" src="assets/img/payment-methods.png">
                        <img *ngIf="_paymentMethod === 'PAYMENT_METHODS.CASH'" src="assets/img/cash-payment.png">
                        <img *ngIf="_paymentMethod === 'PAYMENT_METHODS.CREDIT_CARD'" src="assets/img/credit-card-payment.png">
                        <img *ngIf="_paymentMethod === 'PAYMENT_METHODS.DEBIT_CARD'" src="assets/img/debit-card-payment.png">
                        <img *ngIf="_paymentMethod === 'PAYMENT_METHODS.ONLINE'" src="assets/img/payment-online.png">
                    </ion-avatar>
                    <h2>{{'MOBILE.PAYMENTS.MODAL_TITLE' | translate}}</h2>
                    <h3>{{_paymentMethod | translate}}</h3>
                    <h3>{{'MOBILE.PAYMENTS.TIP' | translate}}&nbsp;{{_tipTotal}} {{_currencyCode}}</h3>
                    <ion-icon showWhen="android" name="ios-arrow-forward" item-end style="color: rgba(60, 60, 60, 0.7)"></ion-icon>
                </button>  
            </ion-list>
        </ion-card-content>
    </ion-card>    
</div>

<div #customFooter padding class="custom-footer">
    <h3 style="display: inline-block;">{{'MOBILE.PAYMENTS.TOTAL_BILL' | translate}}</h3>
    <h3 style="display: inline-block; position: absolute; right: 15px; -webkit-margin-before: 0em;">{{_totalToPayment}} {{_currencyCode}}</h3>    
    <div *ngIf="(_orders | async)?.length > 0">
        <button [disabled]="_outstandingBalance" ion-button block outline (click)="pay()">{{'MOBILE.PAYMENTS.PAY_BTN' | translate}}</button>
    </div>
</div>