<ion-header>
    <ion-navbar>
        <ion-title class="logo">
            <img class="nav-logo" src="assets/img/logo_iurest_1000_x_260.png">
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content text-wrap>
    <div *ngIf="!_thereAreOrders" style="padding: 0 40px;">
        <div class="img">
            <img src="assets/img/orders-detail.png">
        </div>
        <div class="content" style="text-align: center">
            <h1>{{ 'MOBILE.ORDERS_TODAY.NO_RECORDS_FOUND' | translate }}</h1>
        </div>
    </div>
    
    <h4 padding *ngIf="selected === 'today' && _thereAreOrders">{{'MOBILE.ORDERS_TODAY.ORDERS_TODAY' | translate}}</h4>
    <h4 padding *ngIf="selected === 'yesterday' && _thereAreOrders">{{'MOBILE.ORDERS_TODAY.ORDERS_YESTERDAY' | translate}}</h4>

    <div *ngFor="let order of _orders | async; let i = index">
        <ion-card>
            <ion-card-content>
                <ion-list no-lines style="margin: 0 -16px;">
                    <button ion-item detail-none (click)="showDetail(i)">
                        <div>
                            <h2 style="font-weight: bold">{{ 'MOBILE.CUSTOMER_ORDER.ORDER' | translate }} # {{order.code}}</h2>
                            <h3>{{ 'MOBILE.CUSTOMER_ORDER.CONSUMMER' | translate }}: {{ getUserName(order.creation_user) }}</h3>
                            <p>{{ 'MOBILE.CUSTOMER_ORDER.TABLE' | translate }} {{getTableNumber(order.tableId)}} ({{ 'MOBILE.CUSTOMER_ORDER.ALPHANUMERIC_CODE'|
                                translate }} {{getTableQRCode(order.tableId)}})</p>
                        </div>
                    </button>
                </ion-list>
                <div *ngIf="_orderIndex === i">
                    <div class="item-divider-custom"></div>
                    <ion-item-group *ngFor="let it of order.items">
                        <ion-item *ngIf="it.is_reward">
                            <h2 style="font-weight: bold;white-space: normal;">{{it.quantity}} - {{getItemName(it.itemId)}}</h2>
                            <ion-badge style="background-color: #ffbf00;color: #fff;">{{ 'MOBILE.CUSTOMER_ORDER.ITEM_REDEEMED' | translate }}
                                <ion-icon name="ribbon"></ion-icon>
                            </ion-badge>
                        </ion-item>
                        <ion-item *ngIf="!it.is_reward">
                            <h2 style="font-weight: bold;white-space: normal;">{{it.quantity}} - {{getItemName(it.itemId)}}</h2>
                            <p>{{it.observations}}</p>
                            <span *ngFor="let gr of it.garnishFood">
                                <h2>{{getGarnishFoodName(gr)}}</h2>
                            </span>
                            <span *ngFor="let ad of it.additions">
                                <h2>{{getAdditionName(ad)}}</h2>
                            </span>
                        </ion-item>
                    </ion-item-group>
                    <ion-item-group *ngFor="let addition of order.additions">
                        <ion-item>
                            <h2 style="font-weight: bold;">{{addition.quantity}} - {{getAdditionName(addition.additionId)}}</h2>
                        </ion-item>
                    </ion-item-group>
                </div>
            </ion-card-content>
        </ion-card>
    </div>

    <ion-card [hidden]="true">
        <ion-card-content>
            <ion-list style="margin-bottom: 0px" no-lines>
                <ion-item>
                    <ion-label>{{'MOBILE.SECTIONS.SELECTION' | translate}}</ion-label>
                    <ion-select #select1 [(ngModel)]="selected" interface="action-sheet" (ionChange)="doFilter(selected)" cancelText="{{'MOBILE.SECTIONS.CANCEL'| translate}}"
                        class="custom-select">
                        <ion-option value="today" selected="true">{{'MOBILE.ORDERS_TODAY.TODAY' | translate}}</ion-option>
                        <ion-option value="yesterday" selected="true">{{'MOBILE.ORDERS_TODAY.YESTERDAY' | translate}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>
<ion-footer>
    <ion-fab right bottom>
        <button style="bottom: 0px;background-color: #ef5350;color: white;" ion-fab color="light" mini (click)="showFilter()">
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-fab>
</ion-footer>