<ion-header>
    <ion-toolbar>
        <ion-title>
            {{'MOBILE.SCHEDULE.SCHEDULE' | translate}}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="close()">
                <span ion-text style="color: #FFF" showWhen="ios">{{'MOBILE.SECTIONS.MODAL_CANCEL' | translate}}</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
      
<ion-content>
    <ion-list>
        <ion-item *ngIf="_establishmentsProfile.schedule.monday.opening_time && _establishmentsProfile.schedule.monday.closing_time">
            {{'MOBILE.SCHEDULE.MONDAY' | translate}}
            <ion-note item-end>
            {{_establishmentsProfile?.schedule?.monday?.opening_time}} - {{_establishmentsProfile?.schedule?.monday?.closing_time}}
            </ion-note>
        </ion-item>
        
        <ion-item *ngIf="_establishmentsProfile.schedule.tuesday.opening_time && _establishmentsProfile.schedule.tuesday.closing_time">
            {{'MOBILE.SCHEDULE.TUESDAY' | translate}}
            <ion-note item-end>
            {{_establishmentsProfile?.schedule?.tuesday?.opening_time}} - {{_establishmentsProfile?.schedule?.tuesday?.closing_time}}
            </ion-note>
        </ion-item>

        <ion-item *ngIf="_establishmentsProfile.schedule.wednesday.opening_time && _establishmentsProfile.schedule.wednesday.closing_time">
            {{'MOBILE.SCHEDULE.WEDNESDAY' | translate}}
            <ion-note item-end>
            {{_establishmentsProfile?.schedule?.wednesday?.opening_time}} - {{_establishmentsProfile?.schedule?.wednesday?.closing_time}}
            </ion-note>
        </ion-item>

        <ion-item *ngIf="_establishmentsProfile.schedule.thursday.opening_time && _establishmentsProfile.schedule.thursday.closing_time">
            {{'MOBILE.SCHEDULE.THURSDAY' | translate}}
            <ion-note item-end>
            {{_establishmentsProfile?.schedule?.thursday?.opening_time}} - {{_establishmentsProfile?.schedule?.thursday?.closing_time}}
            </ion-note>
        </ion-item>

        <ion-item *ngIf="_establishmentsProfile.schedule.friday.opening_time && _establishmentsProfile.schedule.friday.closing_time">
            {{'MOBILE.SCHEDULE.FRIDAY' | translate}}
            <ion-note item-end>
            {{_establishmentsProfile?.schedule?.friday?.opening_time}} - {{_establishmentsProfile?.schedule?.friday?.closing_time}}
            </ion-note>
        </ion-item>

        <ion-item *ngIf="_establishmentsProfile.schedule.saturday.opening_time && _establishmentsProfile.schedule.saturday.closing_time">
            {{'MOBILE.SCHEDULE.SATURDAY' | translate}}
            <ion-note item-end>
            {{_establishmentsProfile?.schedule?.saturday?.opening_time}} - {{_establishmentsProfile?.schedule?.saturday?.closing_time}}
            </ion-note>
        </ion-item>

        <ion-item *ngIf="_establishmentsProfile.schedule.sunday.opening_time && _establishmentsProfile.schedule.sunday.closing_time">
            {{'MOBILE.SCHEDULE.SUNDAY' | translate}}
            <ion-note item-end>
            {{_establishmentsProfile?.schedule?.sunday?.opening_time}} - {{_establishmentsProfile?.schedule?.sunday?.closing_time}}
            </ion-note>
        </ion-item>

        <ion-item *ngIf="_establishmentsProfile.schedule.holiday.opening_time && _establishmentsProfile.schedule.holiday.closing_time">
            {{'MOBILE.SCHEDULE.HOLIDAY' | translate}}
            <ion-note item-end>
            {{_establishmentsProfile?.schedule?.holiday?.opening_time}} - {{_establishmentsProfile?.schedule?.holiday?.closing_time}}
            </ion-note>
        </ion-item>

    </ion-list>
</ion-content>